/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body.network {
  color: #e3e4e5;
  background-color: #11151f;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 0.9em;
}

body.network header {
  padding-top: 35vh;
  padding-bottom: 35vh;
  /* mix-blend-mode: difference; */
  /* backdrop-filter: blur(100px); */
}

body.network h1 {
  width: 3em;
  color: #fff;
  font-size: 7em;
  user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  body.network h1 {
    font-size: 5em;
  }

  body.network .content-container {
    margin-right: -20px;
  }
}

/* expand h1 on hover */
body.network h1:hover { 
  transition: all .2s ease-in-out; 
  transform: scale(1.05); 
}

body.network h2 {
  color: #fff;
  font-style: italic;
}

body.network li {
  list-style-type: disclosure-closed;
  padding-top: 2px;
  padding-bottom: 2px;
}

body.network li:first-child {
  margin-top: 5px;
}

body.network li:last-child {
  margin-bottom: 5px;
}

body.network a {
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

body.network .content-container.nest-level-0 {
  margin-left: -60px;
}

body.network .content-container.nest-level-1 {
  margin-left: -100px;
}

body.network .content-container.nest-level-2 {
  margin-left: -140px;
}

body.network .nest-level-0 a {
  text-decoration: underline;
}

body.network .nest-level-1 a {
  font-weight: 400;
  text-decoration: none;
}

body.network .nest-level-2 a {
  font-style: normal;
  text-decoration: underline;
}

body.network a:active {
  color: #e06c75;
}

body.network a:hover {
  color: #dbf;
}

body.network a:visited {
  color: #fff;
}

body.network .toggled {
  font-weight: bold;
}

body.network video,
body.network img {
  border-radius: 4px;
}

body.network #nav {
  padding-bottom: 10px;
}

body.network .content-container {
  padding: 20px;
  background-color: rgba(4, 6, 10, 0.5);
  border-radius: 4px;
  backdrop-filter: blur(3px);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

body.network .content-container a {
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

body.network footer {
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 30vh;
}

body.network .logo::before {
  position: relative;
  top: 6px;
}

body.network #github::before {
  content: url('../assets/logos/logo-gh.svg');
}

body.network #linkedin::before {
  content: url('../assets/logos/logo-li.svg');
}

body.network #email::before {
  content: url('../assets/logos/logo-em.svg');
}

