/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body.network {
  color: #f0f1f2;
  font-family: Inter, Helvetica, sans-serif;
}

body.network li {
  list-style-type: disclosure-closed;
}

body.network a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

body.network a:active {
  color: #e06c75;
}

body.network a:hover {
  color: #c678dd;
}

body.network a:visited {
  color: #fff;
}

body.network img {
  border-radius: 4px;
}

body.network video {
  border-radius: 4px;
}

body.network .content-container {
  border: 0px solid #000;
}

body.network img, video {
  border: 0px solid #000;
}
