/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Default styles for all screen sizes */
body {
  transition: color 0.5s, font-family 0.5s;
  margin-left: 10%;
  margin-right: 10%;
}

/* Dark mode */

body.dark-mode {
  color: #f3f4f5;
  font-family: Inter, Helvetica, sans-serif;
}

body.dark-mode a {
  text-decoration: none;
  font-weight: bold;
  color: #61afef;
}

body.dark-mode a:active {
  color: #e06c75;
}

body.dark-mode a:visited {
  color: #c678dd;
}

body.dark-mode img, video {
  border-radius: 4px;
}

#vanta-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header, main, footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Columns */
.columns {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.column img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: block;
}

figcaption { 
  padding-bottom: 2em; 
} 

video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.content-container {
  margin-left: -40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Widescreen and mobile */

@media screen and (min-width: 1200px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }

  .columns {
    padding-left: 0%;
    padding-right: 0%;
    flex-direction: column;
  }

  .column {
    margin-right: 0;
  }
}
