body.terminal {
  color: #0f0;
  background-color: #000;
  font-family: monospace;
}

body.terminal p {
  color: #fff;
}

body.terminal li {
  list-style-type: decimal-leading-zero;
}

body.terminal a {
  font-weight: bold;
  color: #0ff;
}

body.terminal a:active {
  color: #f0f;
}

body.terminal a:hover {
  color: #f0f;
}

body.terminal a:visited {
  color: #f0f;
}

body.terminal .content-container {
  border: 1px solid #0f0;
}

body.terminal img, video {
  border: 1px solid #0f0;
}
